@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/bg_001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100vw;
}

.menu img {
  width: 25%;
  min-width: 300px;
  height: 6rem;
  margin: 1.5rem;
  position: absolute;
  left: 10rem;
}

.menu {
  border: solid red 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  height: 20vh;
  position: relative;
}

.x-hamburger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0;
  cursor: pointer;
}

.x-hamburger div {
  width: 2rem;
  border: 2px black solid;
  border-radius: 1rem;
}

.x-hamburger:hover .onex {
  transform: rotate(0.15turn);
  transition: all 0.25s ease-in 0s;
}

.x-hamburger:hover .twox {
  display: none;
}

.x-hamburger:hover .threex {
  transform: rotate(-0.15turn);
  position: absolute;
  transition: all 0.25s ease-in 0s;
}

.x-hamburger:hover {
  background-color: steelblue;
}

.side-menu {
  background-color: steelblue;
  width: 5rem;
  height: 15rem;
  display: none;
  list-style: none;
  position: relative;
}

.side-menu ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-inline {
  /* float: right; */
  width: 40vw;
  min-width: 300px;
  border: steelblue 2px solid;
}

.menu-inline ul li {
  list-style: none;
  letter-spacing: 0.75rem;
  padding: 0.5rem;
  display: inline;
  /* display: none;
  only for mobile view */
}

.menu a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: aliceblue;
}

.menu a:hover {
  color: rgb(134, 89, 59);
}

.container {
  color: aliceblue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row;
  width: 80vw;
  height: 80vh;
  border: solid 2px red;
}

.main-text {
  display: flex;
  align-items: center;
  flex-flow: column;
  align-items: center;
  width: 50%;
  min-width: 300px;
}

.container h1 {
  font-weight: bold;
  font-size: 32px;
  width: 20rem;
  padding-top: 4rem;
}

.container p {
  font-size: 14px;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
}

.container img {
  max-width: 25%;
  min-width: 300px;
  height: auto;
  /* display: block; for mobile view */
}

.handy-two {
  position: relative;
  left: 7rem;
  top: 1.5rem;
}

button {
  border-radius: 5px;
  border: hidden;
  width: 9rem;
  height: 2.5rem;
  background-color: steelblue;
}

.green {
  background-color: rgb(32, 201, 102);
}

button a {
  font-size: 16px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

/* Display on various devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
