@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/bg_001.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-top: 5vh;
  border: red 2px dashed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  /* height: auto; */
}

.menu img {
  width: 15vw;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
  border: 2px dashed red;
}

.hamburger {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.hamburger div {
  width: 2rem;
  border: 2px black solid;
}

a {
  text-decoration: none;
}
.side-menu {
  background-color: steelblue;
  width: 5rem;
  height: 15rem;
  display: none;
}

.side-menu li {
  list-style: none;
}

.menu-inline ul li {
  list-style: none;
  display: inline-block;
  letter-spacing: 0.75rem;
  padding: 0.5rem;
  border: dashed 2px red;
  display: none;
}

.menu a {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  color: aliceblue;
}

.menu a:hover {
  color: rgb(134, 89, 59);
}

.container {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px red;
  width: 80vw;
}

.container h1 {
  font-weight: bold;
  font-size: 32px;
  width: 20rem;
  padding-top: 4rem;
  border: dashed 2px red;
}

.container p {
  font-size: 14px;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
  border: red 2px dashed;
}

.container img {
  width: 13rem;
  border: red 2px dashed;
}

.handy-two {
  position: relative;
  left: 7rem;
  top: 1.5rem;
}

button {
  border-radius: 5px;
  border: hidden;
  width: 9rem;
  height: 2.5rem;
  background-color: steelblue;
}

.green {
  background-color: rgb(32, 201, 102);
}

button a {
  font-size: 16px;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: aliceblue;
  font-weight: bold;
}

/* Display on various devices */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
